.banner {
  display: flex;
  height: calc(100vh - 12rem);
  padding: 4rem 0 2rem;
  flex-wrap: wrap;
  align-items: center;
  margin: 8rem 0;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 500px;
  width: 100%;
  background-image: url("../../img/bg/bg-icons-1.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.3;
}

.container.container--banner {
  height: 100%;
}

.banner__content,
.banner__images {
  flex: 0 1 50%;
}
.banner__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  height: 100%;
  justify-content: center;
}
.banner__content .banner__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.banner__content .banner__content__text h1 {
  line-height: 1.1;
}

.banner__content h1 .primary-color {
  color: var(--color-primary);
}

.banner__content .banner__content__text p {
  line-height: 1.4;
  margin-top: 20px;
}

.banner__images {
  width: 100%;
  height: 100%;

  position: relative;
  display: flex;
  align-items: center;
}

.banner__images .banner__images__shape {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50% - 30px));
  right: 0;
  width: 450px;
  height: 450px;
  background-color: var(--color-primary);
  border-radius: 170px;
  max-width: 100%;
}

.banner__images img {
  position: relative;
  left: -20px;
  z-index: 1;
  width: 470px;
  max-width: 100%;
}

.banner__images .depoimento {
  width: 350px;
  height: 100px;
  font-size: 14px;
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(calc(-50% + 180px));
  border-radius: 20px;
  padding: 15px 20px;
  z-index: 2;
  background-color: var(--color-white);
  line-height: 1.4;
  max-width: calc(100vw - 50px);
}

.banner__images .depoimento span {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-primary);
  right: 20px;
  bottom: 15px;
  position: absolute;
}
.banner__content__social-icons {
  display: flex;
  gap: 3rem;
}

.banner__content__social-icons a {
  color: var(--color-black);
}

.banner__content__social-icons a i {
  font-size: 20px;
  background-color: var(--color-white);
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 0.9rem 1.5rem;
  transition: 300ms;
}

.banner__content__social-icons a:hover i {
  background-color: var(--color-primary);
}

@media (max-width: 936px) {
  .banner {
    height: auto;
    margin: 3rem 0;
  }
  .banner__content {
    flex: 0 1 100%;
  }

  .banner__images {
    display: none;
  }

  .banner__images .banner__images__shape {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 600px) {
  .banner__button {
    flex-direction: column;
    align-items: flex-start;
    display: none;
  }
  .banner__content__social-icons {
    display: none;
  }
  .banner__content {
    flex: 0 1 100%;
  }

  .banner {
    margin: 2rem 0;
  }
}
