.servicos {
  height: auto;
}
.container.container-servicos {
  padding: 4rem 2rem;
}

.servicos__items img {
  height: 150px;
}

.grid {
  width: 100%;
  height: auto;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: minmax(130px, 150px), repeat(auto-fit, minmax(250px, 1fr));

  gap: 2rem;
  padding: 2rem;
}

.servicos__items {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 24px;

  padding: 2rem;
}

.servicos__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.servicos__content p {
  line-height: 1.3;
}

@media (max-width: 600px) {
  .container.container-servicos {
    padding: 4rem 1rem;
  }

  .grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .section__title {
    text-align: center;
  }
}
