:root {
  --color-background: #fffdf7;
  --color-black: #1a1919;
  --color-black-heavy: #121212;
  --color-text: #4f4f4f;
  --color-text-out: #909083;
  --color-primary: #fb7b0f;
  --color-secudary: #fff2cc;
  --color-red: #e74c3c;
  --color-green: #2ecc71;
  --color-separate: #ccc;
  --color-white: #fff;
}

.shadow-1dp {
  box-shadow:
    0 0 2px 0 rgba(0, 0, 0, 0.14),
    0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 1px 3px 0 rgba(0, 0, 0, 0.2);
}

.shadow-2dp {
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.shadow-3dp {
  box-shadow:
    0 3px 3px 0 rgba(0, 0, 0, 0.14),
    0 3px 4px 0 rgba(0, 0, 0, 0.12),
    0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow-4dp {
  box-shadow:
    0 2px 4px 0 rgba(0, 0, 0, 0.14),
    0 4px 5px 0 rgba(0, 0, 0, 0.12),
    0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.shadow-6dp {
  box-shadow:
    0 6px 10px 0 rgba(0, 0, 0, 0.14),
    0 1px 18px 0 rgba(0, 0, 0, 0.12),
    0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

.shadow-8dp {
  box-shadow:
    0 8px 10px 1px rgba(0, 0, 0, 0.096),
    0 3px 14px 3px rgba(0, 0, 0, 0.03),
    0 4px 5px 0 rgba(0, 0, 0, 0.027);
}

.shadow-9dp {
  box-shadow:
    0 9px 12px 1px rgba(0, 0, 0, 0.14),
    0 3px 16px 2px rgba(0, 0, 0, 0.12),
    0 5px 6px 0 rgba(0, 0, 0, 0.2);
}

.shadow-12dp {
  box-shadow:
    0 12px 17px 2px rgba(0, 0, 0, 0.14),
    0 5px 22px 4px rgba(0, 0, 0, 0.12),
    0 7px 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow-16dp {
  box-shadow:
    0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px 0 rgba(0, 0, 0, 0.2);
}

.shadow-24dp {
  box-shadow:
    0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px 0 rgba(0, 0, 0, 0.2);
}
