.btn-cart {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 50px;
  width: 50px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--color-black-heavy) !important;
  border-radius: 50px;
  cursor: pointer;
  z-index: 5;
}
