.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 280px));
  width: 100%;
  max-width: 1100px;
  padding: 2rem 3.4rem;
  gap: 2.4rem;
  justify-content: center;
  margin: 0 auto;
  transition: 250ms;
  overflow: hidden;
}

/* ============================= */

.cards__item {
  padding: 4rem 2rem;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;
  word-wrap: break-word;
  overflow: visible;
  transition: all 0.3s ease;
  cursor: pointer;

  gap: 8px;
  background-color: var(--color-white);
}

.cards__item__image {
  overflow: hidden;
  width: 100%;
  flex-shrink: 0;
  max-height: 250px;
}

.cards__item__image img {
  border-radius: 11px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease;
}
.cards__item:hover .cards__item__image img {
  transform: scale(1.1);
}

.cards__item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-align: center;
  word-wrap: break-word;
  overflow: visible;
  width: 100%;
  flex: 1;
  transition: transform 0.3s ease;
}

.cards__item__content__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.cards__item__content .cards__item__content__text h3 {
  /* margin-bottom: 1rem; */
  overflow: hidden;
  min-height: 42px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1;
  text-align: center;
  word-wrap: break-word;
  font-size: clamp(1.8rem, 1rem + 1vw, 2.2rem);
  font-family: "poppinsbold", sans-serif;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__item__content .cards__item__content__text span {
  font-size: clamp(2.4rem, 1rem + 1vw, 2.8rem);
  font-family: "poppinsmedium", sans-serif;
  color: var(--color-primary);
  /* margin-bottom: 1rem; */
}

.cards__item__content .cards__item__content__text p {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 18px;
  min-height: 73px;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  padding: 0 4px;
}

.cards__item__content .cards__item__content__text .kcal-peso {
  font-size: 12px;
  color: #666;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
}

.cards__item__content .cards__item__content__text .obs-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.cards__item__content .cards__item__content__text .obs-tag {
  font-size: 12px;
  background-color: lightYellow;
  padding: 6px 8px;
  border-radius: 8px;
  color: #333;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  width: fit-content;
}

/* hover effects */
.cards__item:hover {
  background-color: var(--color-primary) !important;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.cards__item:hover .add-to-cart {
  opacity: 1;
  visibility: visible;
  color: white;
}

.cards__item:hover .cards__item__content span {
  color: var(--color-black) !important;
}

.cards__item:hover .cards__item__content .btn-add .btn-add-text,
.cards__item:hover .cards__item__content .btn-add i {
  color: var(--color-white) !important;
}

.cards__item:hover .cards__item__content .cards__item__content__text p {
  color: var(--color-black-heavy) !important;
}

.cards__item:hover .cards__item__content .add-to-cart .btn-add-box .btn-add {
  color: var(--color-white) !important;
  background-color: var(--color-black) !important;
}

.cards__item:hover .cards__item__content .cards__item__content__text .obs-tag {
  background-color: #361c06 !important;
  color: var(--color-white) !important;
}

/* Responsive breakpoints */
@media (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(240px, 320px));
    padding: 2rem 4rem;
    gap: 2rem;
  }
}

@media (max-width: 580px) {
  .cards {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    padding: 2rem 4rem;
    gap: 1.8rem;
    max-width: 450px;
  }
}

@media (max-width: 480px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 2rem 4rem;
    gap: 2rem;
    max-width: 400px;
  }

  .cards__item {
    height: auto;
    gap: 2rem;
  }
}
