.cart-title {
  padding: initial;
  font-size: 1.8rem;
  font-family: "poppinsregular";
  color: var(--color-black);
}

.cart__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid lightgrey;
  /* background-color: yellow; */
}

.cart__product__image {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cart__product__image img {
  border-radius: 8px;
}
.cart__product__price {
  display: flex;
  flex-direction: column;
  align-items: flex-star;
  gap: 1.4rem;
}

.cart__product__price h3 {
  font-family: "poppinsmedium";
  color: rgb(68, 68, 68);
  font-size: clamp(1.2rem, 1vw + 1rem, 2rem);
  height: 20px;
}

.cart__product__price span {
  font-size: clamp(1.6rem, 1vw + 1rem, 2.4rem);
  color: var(--color-primary);
  font-family: "poppinsbold", sans-serif;
}

/* TOTALS */

.total {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  text-align: right;
}

.total-infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtotal {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.valor-subtotal span {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1;
  color: var(--color-text);
}

.valor-entrega span {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.5;
}

.valor-total {
  margin: 1rem 0;
  font-weight: bold;
}

.valor-total span:first-child {
  color: var(--color-black);
  font-size: 2rem;
  margin-right: 1rem;
}

.valor-total span + span {
  color: var(--color-primary);
  font-size: 2.4rem;
  letter-spacing: 1px;
}

.subtotal i {
  margin-right: 5px;
}

.subtotal .entrega {
  font-size: 1.6rem;
  font-family: "poppinsregular";
  color: lightslategray;
}

.total-botao {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

/* RESUME */

.cart__product .cart__product__image img {
  width: 80px;
}
.cart__product .cart__product__quantity {
  font-size: 1.8rem;
  color: var(--color-black);
  font-weight: bold;
}

@media (max-width: 466px) {
  .cart-title {
    padding: initial;
  }
  .cart__product__image {
    flex-direction: column;
    text-align: center;
    gap: 0.4rem;
  }

  .cart__product__image img {
    width: 80px;
  }

  .cart__product__price h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 120px;
    font-size: clamp(1.4rem, 1rem + 1vw, 2.2rem);
  }
  .cart__product__price {
    gap: 0.4rem;
  }

  .total-infos {
    gap: 1rem;
  }
  .total-infos .total-preco {
    margin: 0;
  }
}
