.go-to-start {
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 22px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-black);
  z-index: 9;
}

.go-to-start.show {
  display: flex;
}
